{{- define "global-templates.backend" -}}
{{- $global_values := .Values.global }}
{{- $default_values := .Values.backend_defaults }}
{{- $common_defaults := .Values.common_defaults | default dict }}
{{- range .backends }}
{{- if not .disabled }}
---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: Backend
metadata:
  name: {{ required "Name is required for backend" .name }}
  namespace: {{ include "helpers.prefixNamespace" (dict "namespace" .namespace "global" $global_values) }}
  labels: {{- include "helpers.labels" (dict "context" $ "customLabels" .labels "defaultLabels" $common_defaults.labels) | nindent 4 }}
  {{- if or .annotations $common_defaults.annotations }}
  annotations: {{ include "helpers.annotations" (dict "context" $ "customAnnotations" .annotations "defaultAnnotations" $common_defaults.annotations) | nindent 4 }}
  {{- end }}
spec:
  {{- if .endpoints }}
  endpoints:
    {{- range .endpoints }}
    - {{- if .fqdn }}
      fqdn:
        hostname: {{ .fqdn.hostname }}
        port: {{ .fqdn.port }}
      {{- end }}
      {{- if .ip }}
      ip:
        address: {{ .ip.address }}
        port: {{ .ip.port }}
      {{- end }}
    {{- end }}
  {{- end }}
  {{- if .tls }}
  tls:
    {{- if .tls.insecureSkipVerify }}
    insecureSkipVerify: {{ .tls.insecureSkipVerify }}
    {{- end }}
    {{- if .tls.certificateRef }}
    certificateRef:
      name: {{ .tls.certificateRef.name }}
      {{- if .tls.certificateRef.namespace }}
      namespace: {{ include "helpers.prefixNamespace" (dict "namespace" .tls.certificateRef.namespace "global" $global_values) }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
