{{- define "global-templates.cnpgcluster" -}}
{{- $global_values := .Values.global }}
{{- $default_values := .Values.cnpgcluster_defaults }}
{{- $common_defaults := .Values.common_defaults }}
{{- range .cnpgclusters }}
{{- if not .disabled }}
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ .name }}
  namespace: {{ include "helpers.prefixNamespace" (dict "namespace" .namespace "global" $global_values) }}
  labels: {{ include "helpers.labels" (dict "context" $ "customLabels" .labels "defaultLabels" $common_defaults.labels) | nindent 4 }}
  {{- if or .annotations $common_defaults.annotations }}
  annotations: {{ include "helpers.annotations" (dict "context" $ "customAnnotations" .annotations "defaultAnnotations" $common_defaults.annotations) | nindent 4 }}
  {{- end }}
spec:
  instances: {{ .instances | default $default_values.instances }}
  imageName: {{ .imageName | default $default_values.imageName }}
  enableSuperuserAccess: {{ .enableSuperuserAccess | default $default_values.enableSuperuserAccess }}
  {{- if .superuserSecret }}
  superuserSecret:
    name: {{ .superuserSecret.name }}
  {{- end }}
  bootstrap:
    initdb:
      database: {{ .bootstrap.initdb.database }}
      owner: {{ .bootstrap.initdb.owner }}
      {{- if .bootstrap.initdb.secret }}
      secret:
        name: {{ .bootstrap.initdb.secret.name }}
      {{- end }}
  {{- if .managed }}
  managed:
    {{- if .managed.roles }}
    roles:
      {{- toYaml .managed.roles | nindent 6 }}
    {{- end }}
    {{- if .managed.services }}
    services:
      {{- toYaml .managed.services | nindent 6 }}
    {{- end }}
  {{- end }}
  {{- if .postgresql }}
  postgresql:
    {{- if .postgresql.parameters }}
    parameters:
      {{- toYaml .postgresql.parameters | nindent 6 }}
    {{- end }}
    {{- if .postgresql.extensions }}
    extensions:
      {{- toYaml .postgresql.extensions | nindent 6 }}
    {{- end }}
  {{- end }}
  {{- if .resources }}
  resources:
    {{- toYaml .resources | nindent 4 }}
  {{- end }}
  storage:
    size: {{ .storage.size | default $default_values.storage.size }}
    {{- if .storage.storageClass }}
    storageClass: {{ .storage.storageClass }}
    {{- end }}
{{- end }}
{{- end }}
{{- end }}
