{{- define "global-templates.cnpgdatabase" -}}
{{- $global_values := .Values.global }}
{{- $default_values := .Values.cnpgdatabase_defaults | default dict }}
{{- $common_defaults := .Values.common_defaults | default dict }}
{{- range .cnpgdatabases }}
{{- if not .disabled }}
---
apiVersion: postgresql.cnpg.io/v1
kind: Database
metadata:
  name: {{ .name }}
  namespace: {{ include "helpers.prefixNamespace" (dict "namespace" .namespace "global" $global_values) }}
  labels: {{ include "helpers.labels" (dict "context" $ "customLabels" .labels "defaultLabels" $common_defaults.labels) | nindent 4 }}
  {{- if or .annotations $common_defaults.annotations }}
  annotations: {{ include "helpers.annotations" (dict "context" $ "customAnnotations" .annotations "defaultAnnotations" $common_defaults.annotations) | nindent 4 }}
  {{- end }}
spec:
  name: {{ .databaseName | default .name }}
  owner: {{ required "owner is required for cnpgdatabase" .owner }}
  cluster:
    name: {{ required "cluster.name is required for cnpgdatabase" .cluster.name }}
  {{- if .encoding }}
  encoding: {{ .encoding }}
  {{- end }}
  {{- if .locale }}
  locale: {{ .locale }}
  {{- end }}
  {{- if .lcCollate }}
  lcCollate: {{ .lcCollate }}
  {{- end }}
  {{- if .lcCtype }}
  lcCtype: {{ .lcCtype }}
  {{- end }}
  {{- if .isTemplate }}
  isTemplate: {{ .isTemplate }}
  {{- end }}
  {{- if .allowConnections }}
  allowConnections: {{ .allowConnections }}
  {{- end }}
  {{- if .connectionLimit }}
  connectionLimit: {{ .connectionLimit }}
  {{- end }}
  {{- if .tablespace }}
  tablespace: {{ .tablespace }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
