{{/*
Copyright (C) 2026 XM Cyber
Author: Devops Infra Team
*/}}

{{- define "global-templates.kafkanodepool" -}}
{{- $global_values := .Values.global }}
{{- $common_defaults := .Values.common_defaults | default dict }}
{{- range .kafkanodepools }}
{{- if not .disabled }}
{{- $nodepool := . }}
{{- $namespace := include "helpers.namespace" (dict "ns" ($nodepool.namespace | default "") "overrideNs" $.Release.Namespace) }}
---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaNodePool
metadata:
  name: {{ required "Name is required for kafkanodepool" $nodepool.name }}
  namespace: {{ include "helpers.prefixNamespace" (dict "namespace" $namespace "global" $global_values) }}
  labels: {{- include "helpers.labels" (dict "context" $ "customLabels" $nodepool.labels "defaultLabels" $common_defaults.labels) | nindent 4 }}
  {{- if or $nodepool.annotations $common_defaults.annotations }}
  annotations:
    {{- include "helpers.annotations" (dict "context" $ "customAnnotations" $nodepool.annotations "defaultAnnotations" $common_defaults.annotations) | nindent 4 }}
  {{- end }}
spec:
  {{- include "common.tplvalues.render" (dict "value" (required "spec is required for kafkanodepool" $nodepool.spec) "context" $) | nindent 2 }}
{{- end }}
{{- end }}
{{- end }}
