{{/*
Copyright (C) 2026 XM Cyber
Author: Devops Infra Team
*/}}

{{- define "global-templates.networkpolicy" -}}
{{- $global_values := .Values.global }}
{{- $common_defaults := .Values.common_defaults | default dict }}
{{- range .networkpolicies }}
{{- if not .disabled }}
{{- $policy := . }}
{{- $namespace := include "helpers.namespace" (dict "ns" ($policy.namespace | default "") "overrideNs" $.Release.Namespace) }}
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ required "Name is required for networkpolicy" $policy.name }}
  namespace: {{ include "helpers.prefixNamespace" (dict "namespace" $namespace "global" $global_values) }}
  labels: {{- include "helpers.labels" (dict "context" $ "customLabels" $policy.labels "defaultLabels" $common_defaults.labels) | nindent 4 }}
  {{- if or $policy.annotations $common_defaults.annotations }}
  annotations:
    {{- include "helpers.annotations" (dict "context" $ "customAnnotations" $policy.annotations "defaultAnnotations" $common_defaults.annotations) | nindent 4 }}
  {{- end }}
spec:
  {{- if $policy.podSelector }}
  podSelector: {{- include "common.tplvalues.render" (dict "value" $policy.podSelector "context" $) | nindent 4 }}
  {{- else }}
  podSelector: {}
  {{- end }}
  {{- if $policy.policyTypes }}
  policyTypes: {{- include "common.tplvalues.render" (dict "value" $policy.policyTypes "context" $) | nindent 4 }}
  {{- end }}
  {{- if $policy.ingress }}
  ingress: {{- include "common.tplvalues.render" (dict "value" $policy.ingress "context" $) | nindent 4 }}
  {{- end }}
  {{- if $policy.egress }}
  egress: {{- include "common.tplvalues.render" (dict "value" $policy.egress "context" $) | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
