{{- define "global-templates.servicemonitor" -}}
{{- $global_values := .Values.global }}
{{- $default_values := .Values.servicemonitor_defaults }}
{{- $common_defaults := .Values.common_defaults }}
{{- range .serviceMonitors }}
{{- if not .disabled }}
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .name | required "ServiceMonitor name required" }}
  namespace: {{ include "helpers.prefixNamespace" (dict "namespace" .namespace "global" $global_values) }}
  labels: {{ include "helpers.labels" (dict "context" $ "customLabels" .labels "defaultLabels" $common_defaults.labels) | nindent 4 }}
  {{- if or .annotations $common_defaults.annotations }}
  annotations: {{ include "helpers.annotations" (dict "context" $ "customAnnotations" .annotations "defaultAnnotations" $common_defaults.annotations) | nindent 4 }}
  {{- end }}
spec:
  {{- with .jobLabel }}
  jobLabel: {{ . }}
  {{- end }}
  {{- with .targetLabels }}
  targetLabels: {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .podTargetLabels }}
  podTargetLabels: {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .sampleLimit }}
  sampleLimit: {{ . }}
  {{- end }}
  {{- with .targetLimit }}
  targetLimit: {{ . }}
  {{- end }}
  {{- with .attachMetadata }}
  attachMetadata: {{- toYaml . | nindent 4 }}
  {{- end }}
  selector: {{- toYaml .selector | nindent 4 }}
  namespaceSelector:
    {{- if .namespaceSelector }}
    {{- toYaml .namespaceSelector | nindent 4 }}
    {{- else }}
    matchNames:
      - {{ include "helpers.prefixNamespace" (dict "namespace" .namespace "global" $global_values) }}
    {{- end }}
  endpoints:
    {{- range .endpoints }}
    - port: {{ .port }}
      {{- with .path | default $default_values.path }}
      path: {{ . }}
      {{- end }}
      {{- with .interval | default $default_values.interval }}
      interval: {{ . }}
      {{- end }}
      {{- with .scrapeTimeout | default $default_values.scrapeTimeout }}
      scrapeTimeout: {{ . }}
      {{- end }}
      {{- with .scheme }}
      scheme: {{ . }}
      {{- end }}
      {{- with .honorLabels }}
      honorLabels: {{ . }}
      {{- end }}
      {{- with .honorTimestamps }}
      honorTimestamps: {{ . }}
      {{- end }}
      {{- with .params }}
      params: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .basicAuth }}
      basicAuth: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .authorization }}
      authorization: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .oauth2 }}
      oauth2: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .tlsConfig }}
      tlsConfig: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .bearerTokenSecret }}
      bearerTokenSecret: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .proxyUrl }}
      proxyUrl: {{ . }}
      {{- end }}
      {{- with .followRedirects }}
      followRedirects: {{ . }}
      {{- end }}
      {{- with .enableHttp2 }}
      enableHttp2: {{ . }}
      {{- end }}
      {{- with .filterRunning }}
      filterRunning: {{ . }}
      {{- end }}
      {{- with .metricRelabelings }}
      metricRelabelings: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .relabelings }}
      relabelings: {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}
{{- end }}
{{- end }}
{{- end }}
